/*General*/

body {
    overflow-y: scroll;
    height: 100%;
}

h5 {
    color: crimson;
    font-weight: 600;
}


/*
-------------------
Header
-------------------
*/

header::before {
    content: "";
    display: block;
    margin-bottom: 35vh;
}

.content-Header {
    top: 0;
    height: 35vh;
    position: fixed;
    width: 100%;
    transition: all 1s;
    z-index: 50;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 150px;
    margin: 0% 3%;
    transition: all 1s;
}

.logo:hover {
    transform: scale(1.1);
}

.navMenu {
    margin-top: 18%;
    transition: all 1s;
}

.navMenu li {
    margin-top: 1rem;
    transition: all 1s;
}

.navMenu li:first-child {
    margin-top: 0;
    transition: all 1s;
}

.navMenu li a {
    margin: 0rem 3rem;
    position: relative;
    letter-spacing: 2px;
    text-decoration: none;
    color: #eeeddd;
    padding: 0.5rem;
    transition: all 1s;
}

.navMenu li a::before,
.navMenu li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

.navMenu li a::before {
    top: 0;
    transform-origin: left;
}

.navMenu li a::after {
    bottom: 0;
    transform-origin: right;
}

.navMenu li a:hover::before,
.navMenu li a:hover::after {
    transform: scaleX(1);
}


/*Header -> Social-media*/

.contentMedia {
    margin-top: 2%;
    transition: all 1s;
}

.social-Media {
    display: flex;
    justify-content: space-around;
    transition: all 1s;
}

.social-Media a {
    display: inline-block;
    width: 90px;
    height: 80px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: crimson;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}

.social-Media a>i {
    margin: 0 28%;
    line-height: 70px;
    font-size: 30px;
    transition: 0.2s linear;
    transition: all 1s;
}

.social-Media a:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.social-Media a::before {
    content: '';
    position: absolute;
    width: 125%;
    height: 125%;
    background: crimson;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
    transition: all 1s;
}

.social-Media a:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}


/*Little Header -------------------> APLICACIÓN EN JAVASCRIPT*/

.little-content-Header {
    height: 10vh;
    transition: 0.3s linear;
}

.little-logo {
    width: 80px;
    padding: 5px;
}

.little-navMenu {
    display: flex;
    margin-top: 0;
    align-content: space-between;
}

.little-navMenu-li {
    margin: 0 .5rem;
    margin-top: 1.5rem !important;
}

.little-navMenu-li-first-child {
    margin-top: 1.5rem !important;
}

.little-navMenu-li-a {
    margin: 0 !important;
    font-size: 12px !important;
    padding: 0.5rem 0 !important;
}

.little-contentMedia {
    margin-top: 0;
    transition: all 1s;
}

.little-contentMedia-h5 {
    display: none;
    transition: all 1s;
}

.little-social-Media-a {
    width: 50px !important;
    height: 50px !important;
    transition: all 1s;
}

.little-social-Media-a-i {
    line-height: 50px !important;
    font-size: 25px !important;
}


/*------------Menu dispositivos moviles----------------*/

.hamburguer {
    display: none;
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 10000 !important;
    cursor: pointer;
    transition: color 0.5s ease-in;
    margin: 0;
    right: 0;
}

.hamburguer>i {
    font-size: 25px;
    line-height: 80px;
    color: white;
}

.navTlfn {
    font-weight: 300;
    display: none;
    transition: ease-in-out 0.5s;
}

.navTlfn a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 35px;
}

.navTlfn a>i {
    margin: 0 20px;
}


/*
--------------------------
Cuerpo de la pagina
--------------------------
*/

.principalContainer {
    width: 100%;
    margin: 10% 0;
    overflow: hidden;
    height: calc(100vh - 45vh);
}

.principalContainer>.row {
    height: 100%;
}

.principalContainer>.row>.col>div {
    margin-top: 5%;
    border-top: 1px solid red;
    border-left: 1px solid green;
    border-right: 1px solid blue;
    border-bottom: 1px solid black;
    transition: all .3s;
    width: 100%;
    height: 250px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.principalContainer>.row>.col>div:hover {
    transform: scale(1.1);
}

.principalContainer>.row>.col>div>h5 {
    text-align: center;
    margin-top: 100px;
    cursor: pointer;
}


/*Centrar Div ----> Aplicación en JavaScript*/

.p_content_1,
.p_content_2,
.p_content_3,
.p_content_4 {
    transition: all 1s;
}

.activeDiv {
    height: 100% !important;
}

.activeDiv:hover {
    transform: scale(1) !important;
}

.ocultarDiv {
    transform: scale(0);
    height: 0;
    width: 0;
}

.ocultarBoton {
    transform: scale(0);
}

.btn-Div {
    transition: all 1.5s;
    margin-top: 80px;
}

.btn-Div>div>button,
.btn-Div>div>a>button {
    background-color: #424242;
    border-style: none;
    z-index: 10;
    width: 70%;
    margin: 0 15%;
}

.btn-Div>div>a>button {
    color: #fff;
}

.btn-Div>div>button:hover,
.btn-Div>div>a>button:hover {
    background-color: #ee143f;
}

.btn-Div>div>button:focus,
.btn-Div>div>a>button:focus {
    background-color: #ee143f;
}

.btn-Div>div>a>button>i,
.btn-Div>div>button>i {
    margin: 0 10px;
}


/*MODAL*/

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 0.74s ease-in-out;
}

.popup-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 599px;
    width: 59%;
    height: 80%;
    background-color: white;
    transform: rotate(32deg);
    transition: 0.74s ease-in-out;
}

.popup-photo {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.popup-photo img {
    width: 100%;
    height: 100%;
}

.popup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49%;
    height: 100%;
    padding: 4rem;
}

.popup-text h1 {
    font-size: 2rem;
    font-weight: 599;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #0a0a0a;
}

.popup-text p {
    font-size: 0.875rem;
    color: black;
    line-height: 1.5;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup:target .popup-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}

.popup-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 0.875rem;
    font-size: 400;
    border-radius: 100%;
    background-color: #0a0a0a;
    z-index: 400;
    color: white;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


/*
----------------------------
Footer
----------------------------
*/

.content-Footer {
    height: 10vh;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    bottom: 0;
}

.show-Hide button {
    color: Black;
    width: 200px;
    background-color: rgba(255, 253, 253, 0.733);
    border-style: none;
    transition: all .5s;
    cursor: pointer;
}

.show-Hide button:hover {
    background-color: crimson;
}

.footer {
    margin-top: 0;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 0vh;
    -webkit-transition: all 500ms cubic-bezier(0.600, 0, 0.735, 0.045);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    /* easeInBack */
    -webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
    /* easeInBack */
}

.show-Hide {
    margin-top: 40px;
}

.footer-Section {
    overflow: hidden;
    border-top: 1px solid rgba(236, 236, 236, 0.384);
    border-bottom: 1px solid rgba(236, 236, 236, 0.384);
    height: 80%;
}

.footer-Section>.col {
    height: 100%;
}

.footer-Section>div {
    height: 100%;
    border-right: 1px solid rgba(236, 236, 236, 0.384);
}

.showFooter {
    height: 230px;
}

.footer-Section>div>p {
    color: #ffff;
    font-weight: 700;
}

.footer-Section>div>ul>li>a {
    color: #ffff;
    font-weight: 100;
    transition: all .3s;
}

.footer-Section>div>ul>li>a:hover {
    color: crimson;
}

.footer-Section>div>p>a {
    color: #ffff;
    font-weight: 100;
    transition: all .3s;
}


/*Footer----------> Social Media*/

.footer-Social-Media {
    padding-top: 1%;
}

.footer-Social-Media ul {
    list-style: none;
}

.footer-Social-Media a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1px 1px;
    border-radius: 50%;
    margin: 0 5px;
}

.footer-Social-Media a i {
    color: black;
    background-color: rgba(236, 236, 236, 0.836);
    padding: 8px 9px;
    border-radius: 50%;
    transition: all .3s;
}

.footer-Social-Media a i:hover {
    transform: scale(1.2);
    background-color: crimson;
    color: white;
}


/*Footer---------->Buscador*/

.main_buscador {
    display: flex;
    background-color: rgba(236, 236, 236, 0.836);
    border-radius: 40px;
    align-items: center;
    transition: all .5s !important;
    height: 30px;
}

.main_buscador:hover {
    width: auto !important;
}

.main_buscador:focus {
    width: auto !important;
}

.main_buscador .main_buscador_txt {
    transition: all 0.4s !important;
    background-color: rgba(236, 236, 236, 0.836);
    border-radius: 40px !important;
    height: 100% !important;
    border-bottom: none !important;
    width: 90% !important;
    margin: 0 !important;
    padding: 0 2% !important;
}

.main_buscador:hover>.btn_buscar {
    background: crimson;
}

.btn_buscar {
    color: #063146;
    width: 30px;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(236, 236, 236, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    left: -20%;
}

.main_buscador input:hover {
    border-bottom: none !important;
}

.main_buscador input:focus {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


/*
------------------------------------------------------------------------------------------------
RESPONSIVE
------------------------------------------------------------------------------------------------
*/


/*horizontal*/


/*Pantallas medianas*/

@media screen and (max-height:500px) {
    /*Header*/
    .navMenu {
        margin-top: 7%;
    }
    /*Header -> Social-media*/
    .contentMedia {
        margin-top: 0%;
    }
    /*Little Header -------------------> APLICACIÓN EN JAVASCRIPT*/
    .little-logo {
        margin-top: -15px;
    }
    .logo {
        margin-top: -15px;
    }
    .little-navMenu {
        margin-top: 0;
    }
    .little-social-Media-a {
        width: 30px !important;
        height: 30px !important;
    }
    .little-social-Media-a-i {
        line-height: 30px !important;
        font-size: 15px !important;
    }
    /*Cuerpo de la pagina*/
    .principalContainer>.row>.col>div>h5 {
        margin-top: 50px;
    }
    .btn-Div {
        margin-top: 50px;
    }
    .hamburguer {
        position: absolute;
        top: -20px;
    }
    /*Footer*/
    .content-Footer {
        height: 15vh;
    }
}


/*Pantallas pequeñas*/

@media screen and (max-height:400px) {
    /*Header*/
    .navMenu {
        margin-top: 10%;
        display: flex;
        align-content: space-between;
    }
    .navMenu li {
        margin: 0 .5rem;
        margin-top: 1.5rem !important;
    }
    .navMenu li:first-child {
        margin-top: 1.5rem !important;
    }
    .navMenu li a {
        margin: 0 !important;
        font-size: 12px !important;
        padding: 0.5rem 0 !important;
    }
    /*Header -> Social-media*/
    .contentMedia {
        margin-top: 20px;
    }
    .contentMedia h5 {
        display: none;
    }
    /*Little Header -------------------> APLICACIÓN EN JAVASCRIPT*/
    .little-content-Header {
        height: 20vh;
    }
    .little-navMenu {
        margin-top: 0;
    }
    /*Cuerpo de la pagina*/
    .popup-text h1 {
        font-size: 1rem;
    }
    /*Footer*/
    .content-Footer {
        height: 15vh;
    }
}

@media screen and (max-height:300px) {
    /*Header*/
    .content-Header {
        height: 45vh;
    }
    /*Little Header -------------------> APLICACIÓN EN JAVASCRIPT*/
    .little-content-Header {
        height: 25vh;
    }
    /*Cuerpo de la pagina*/
    /*Footer*/
    .content-Footer {
        height: 25vh;
    }
}

@media screen and (max-height:200px) {
    /*Header*/
    .content-Header {
        height: 60vh;
    }
    /*Little Header -------------------> APLICACIÓN EN JAVASCRIPT*/
    .little-content-Header {
        height: 35vh;
    }
    /*Cuerpo de la pagina*/
    .popup-text h1 {
        margin: 10px 0;
    }
    .popup-text p {
        margin: 0;
    }
    /*Footer*/
    .content-Footer {
        height: 30vh;
    }
}


/*-------------------------------------------------*/


/*Vertical*/


/*Breakpoints*/


/*1200px de width se ajusta perfecto*/


/*Pantallas medianas 1024px de width*/

@media screen and (max-width:1024px) {
    /*Header*/
    .little-navMenu-li-a {
        margin: 0 !important;
        font-size: 10px;
        padding: 0;
    }
    /*Modal*/
    .popup-photo {
        display: none;
    }
    .popup-text {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width:1000px) {
    /*Footer*/
    .footer-Section {
        height: 400px;
    }
    .footer-Section>.col {
        height: 200px;
    }
    .footer-Section>div {
        height: 200px;
    }
    .showFooter {
        height: 430px;
    }
    .footer-Section>div>p {
        font-size: 18px;
    }
    .footer-Section>div>ul>li>a {
        font-size: 16px;
    }
}


/*768px de width*/

@media screen and (max-width:768px) {
    /*HEADER*/
    .navTlfn {
        position: fixed;
        background: crimson;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.3% at 100% 0);
    }
    .menudos {
        clip-path: circle(141.2% at 100% 0);
        -webkit-clip-path: circle(141.2% at 100% 0);
    }
    .navTlfn a {
        color: white;
    }
    /*Little Header -------------------> APLICACIÓN EN JAVASCRIPT*/
    .little-navMenu {
        display: none;
    }
    .little-social-Media {
        display: none;
    }
    .little-hamburguer {
        display: inline !important;
    }
}

@media screen and (max-width:600px) {
    /*Header*/
    .content-Header {
        height: 10vh;
    }
    .logo {
        width: 80px;
        padding: 5px;
    }
    .navMenu {
        display: none;
    }
    .social-Media {
        display: none;
    }
    .contentMedia {
        margin: 0;
    }
    .contentMedia h5 {
        display: none;
    }
    .hamburguer {
        display: inline;
    }
    /*Cuerpo de la pagina*/
    .principalContainer {
        height: 170vh !important;
    }
    .btn-Div {
        margin-top: 30px;
    }
    .btn-Div>div>button,
    .btn-Div>div>a>button {
        background-color: #424242;
        border-style: none;
        z-index: 10;
        width: 80%;
        margin: 0 10%;
    }
    /*MODAL*/
    .popup-text P {
        font-size: 20px;
    }
    /*Footer*/
    .footer-Section {
        height: 800px;
    }
    .showFooter {
        height: 900px;
    }
}


/*Pantallas pequeñas 480px de width no hay cambios*/


/*320px de width*/

@media screen and (max-width:320px) {
    .navTlfn a {
        font-size: 25px !important;
    }
}